body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color:#222323;
    margin: 0px;
    /* background-color:#dcd4d1; */
    background-color: #e9e4e2;
  }

  .layout{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    padding: 2em;
    margin-left: 3em;
  }

  .title {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 350px;
    margin-bottom: 450px;
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 120px;
    background-color: #222323;
    color:#e9e4e2;;
    padding: 20px;
  }

  /* paragraph titles */
  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: normal;
    text-align: left;
  }

  /* paragraph text content */
  h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
  }

  /* visual titles */
  h4 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    /* background-color: crimson */
  }

/* Asthma and Sleep visual description */
.stickyDescrip{
    display:grid;
    grid-template-columns: 1fr 2fr;
    margin-right: 50px;
    grid-gap: 1em;
    grid-auto-rows:minmax(100px, auto);
    padding: 2em;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    margin-left: 3em;
    /* background-color: fuchsia */
  }

  /* scrolling Asthma/Sleep visualization png */
  .mainVisContainer {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    padding: 2em;
    text-align: right;
    margin-right: 20px;
    margin-left: 100px;
    background-color: aliceblue
  }

  .description {
    margin-right: 30px;
  }

  .visContainer {
    padding: 2em;
    margin-top: 30px;
    margin-left: 30px;
  }


  h5{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
  }
  
  .transition {
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .factoid {
    /* padding: 3em; */
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-justify: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .methodology {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;

  }


  /***************** SLIDER TOOL CONTAINERS *****************/

  .img-comp-container {
    position: relative;
    height: 700px;
    margin:0px;
    /* display: grid */
    /* width: 75%; */
    margin-bottom: 40px;
    /* margin-left: 300px; */
  }

  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow:hidden;
  }

  .img-comp-img img {
    display:block;
    vertical-align: middle;
    justify-items: center;
    /* border-radius: 35px; */
  }

  .img-comp-slider {
    position: absolute;
    z-index:9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #222323;
    opacity: .8;
    border-radius: 50%;
  }
  
   /* .comparison {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 0px;
    margin-top: 50px;
    } */



  /* .nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
  } */

  /* .product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
  }

  img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
  } */
  
  /* .product-image {
    width: 80%;
  }
  
  .product-image,
  .product-info {
    margin-top: 10px;
    width: 50%;
  } */
  
  button {
    margin-top: 30px;
    border: none;
    background-color: #222323;
    color: #e9e4e2;
    height: 40px;
    width: 120px;
    font-size: 14px;
  } 
  
  .disabledButton {
    background-color: #d8d8d8;
  } */
