body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color:#222323;
    margin: 0px;
    background-color:#dcd4d1;
  }

  .title {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 350px;
    margin-bottom: 450px;
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 120px;
    background-color: #222323;
    color:#dcd4d1;;
    padding: 20px;
    /* background-color: #222323
    color: #dcd4d1; */
    /* color: #dcd4d1 */
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: normal;
    text-align: left;
  }

  h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
  }

  h4 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
  }

  .layout{
    display:grid;
    grid-template-columns: 1.5fr 3fr;
    grid-gap: 5em;
    grid-auto-rows:minmax(100px, auto);
    padding: 2em;
    /* background-color: azure */
    /* margin-left: 2em; */
  }


.stickyDescrip{
    display:grid;
    grid-template-columns: 1.5fr 3fr;
    margin-right: 60px;
    grid-gap: 5em;
    grid-auto-rows:minmax(100px, auto);
    padding: 2em;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    /* background-color: fuchsia */
  }

  .mainVisContainer {
    padding: 2em;
    text-align: right;
    margin-right: 100px;
  }

  .description {
    margin-right: 60px;
    /* background-color: aqua */
  }

  .mapContainer {
    padding: 2em;
    text-align: center;
    
    /* background-color: azure */
  }




  h5{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
  }
  
  .transition {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .factoid {
    /* padding: 3em; */
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-justify: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .methodology {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;

  }


  /* .nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
  } */

  /* .product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
  }

  img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
  } */
  
  /* .product-image {
    width: 80%;
  }
  
  .product-image,
  .product-info {
    margin-top: 10px;
    width: 50%;
  }
  
  
  button {
    margin-top: 30px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
  } 
  
  .disabledButton {
    background-color: #d8d8d8;
  } */
